/* Add a black background color to the top navigation */
.topnav {
    background-color: transparent;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #0A0A0A;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #FF4949;
  color: white;
  border-radius: 20px;
}

.logo:hover {
    background-color: transparent !important;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
  padding: 10px 100px;

  .searchbar {
    background-color: transparent;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    padding: 10px;
    width: 20vw;
    color: white;
  }
}