.landing {
    background-image: url('../../../public/Images/Spider-man.jpg');
    height: 100vh;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.37) 17.31%, #111 101.85%), url(../../../public/Images/Spider-man.jpg), lightgray 50% / cover no-repeat;
}

.landing2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10rem;
    color: rgba(255, 255, 255, 0.80);

    .landing-text{
        text-align: center;
        width: 23vw;
        font-size: 18px;
    }
}

.image1 {
    width: 30vw;
}

.landing3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1vw;
    color: rgba(255, 255, 255, 0.80);
}

.circle-icon {
    font-size: 6px;
}

.watch {
    width: 10vw;
    height: 5vh;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(20px);
}

.info {
    width: 10vw;
    height: 5vh;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(20px);
    color: rgba(255, 255, 255, 0.90);
}